page-positioning {
 .map,#map {
   height: 450px !important;
   width: 100% !important;
   margin: 0px !important;
   padding: 0px !important;
 }

 .building-name {
   display: block;
   text-align: center;
 }
}
